body {
    background-color: #f8f9fa;
    color: #212529;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header,
.dark-mode .list-group-item {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode a {
    color: #bb86fc;
}

.dark-mode .btn-dark {
    background-color: #6200ea;
    color: white;
}

.dark-mode .btn-dark:hover {
    background-color: #3700b3;
}
